* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
  /*font-family: "Montserrat", sans-serif;*/
}

.container {
  max-width: 1200px;
}

header {
  height: 60px;
  background-color: #248ea9;
  font-size: 16.5px;
  text-transform: uppercase;
  letter-spacing: 2px;
  position: fixed;
  width: 100vw;
  z-index: 999;
}

header .container {
  height: inherit;
  margin: 0 auto;
}

header .container nav {
  height: inherit;
}

header .container nav ul {
  height: inherit;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header .container nav ul li {
  list-style: none;
}

header .container nav ul li a {
  text-decoration: none;
  color: #fafdcb;
}

header .container nav ul li .fa-bars {
  display: none;
}

html {
  scroll-behavior: smooth;
}

.sezione {
  height: 100vh;
  width: 100%;
}

.sezione h2 {
  text-transform: uppercase;
  text-align: center;
  padding-top: 95px;
  letter-spacing: 2px;
}

#homepage {
  /*background-size: auto 100vh;*/
  /*background-position-x: center;*/
  /*background-position-x: 50%;*/
  /*background-image: url("../immagini/hero3.png");*/
  /*background-repeat: no-repeat;*/
  /*display: flex;
  justify-content: center;
  align-items: center;*/
}

#homepage h1 {
  font-size: 50px;
  letter-spacing: 10px;
  text-transform: uppercase;
  position: absolute;
  top: 50%;
  /*bottom: 0;*/
  left: 50%;
  /*right: 0;*/
  transform: translate(-50%, -50%);
  z-index: 2;
}

#homepage img {
  width: 100%;
  height: 100vh;
  position: absolute;
  width: 100%;
  height: 100%;
}

img {
  display: none;
}
img.active {
  display: block; /* e quella attiva mostramela*/
  animation: fade 5s linear;
}

@keyframes fade {
  0% {
    opacity: 0;
  }

  25% {
    opacity: 1;
  }

  75% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.sezione:nth-of-type(even) {
  background-color: #fafdcb;
  color: #248ea9;
}

.sezione:nth-of-type(odd) {
  background-color: #aee7e8;
  color: #245ea9;
}

#homepage {
  background-color: white;
  color: black;
}
